Thumbs.db
.DS_Store
.gradle
build/
.idea
*.iml
*.ipr
*.iws
.project
.settings
.classpath
/target/
/target-eclipse/
/out/
/web-app/plugins
/web-app/WEB-INF/classes
/web-app/uploads/
/web-app/reports/
/data/
classes/
devDb.*
/test/*
/src/test/*
